//-----------------------media_footer-----------------
@media (max-width: 1200px) {
	.footer__container {
		max-width: 960px;
		height: 100%;
	}
}
	
//-----------------------992px-----------------
@media (max-width: 992px) {
	.footer__container {
		max-width: 750px;
	}
	.footer__logo {
		width: 113px;
		height: auto;
		padding: 50px 0 0 0;
	}
}
//-----------------------767px-----------------
@media (max-width: 767px) {
	.footer__container {
		max-width: none;
	}
	.footer__content {
		flex-direction: column;
	}
}
