@import "nullstyle.scss";
@import "mixins.scss";

@import "header.scss";
// @import "main.scss";
@import "main_business.scss";

@import "footer.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap");





body {
	font-family: "Poppins", "Roboto", sans-serif;
 }
 
 .wrapper {
	overflow: hidden;
	min-height: 100%;
 }

.page {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include flexbox();
	flex-direction: column;
}
//---------------1-й полный экран---------------------------


.first-screen {
	flex: 1 0 100%;
	position: relative;
}
.first-screen__bg {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.ibg {
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
.ibg img {
	display: none;
}



.first-screen__content {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
	@include flexbox();
	flex-direction: column;
}

.first-screen__content-row {
	@include flexbox();
	flex-direction: column;
	margin:  180px 0 0 0;
}

.first-screen__text {
	font-family: 'Roboto'; 
	font-size: 400;
	font-style: normal;
	font-size: 66px;
	line-height: 77px;
	text-transform: capitalize;

	color: #151515;
	margin: 0 0 48px 0;

}

.first-screen__text span {
	font-size: 700;
	color: #656293;
}

.first-screen__explor {
	@include flexbox();
	align-items: center;
}

.explor__text {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #151515;
	margin: 0 11px 0 0;
}
// ---------------media для first-screen-----------
@media (max-width: 1140px) {
	.first-screen__text {
	font-size: 45px;
	};
}

//-----------------------Main------------------

.main {
	width: 100%;
	flex: 1 0 100%;
}

.main__content { 
	@include flexbox();
	flex-direction: column;
	margin: 258px 0 0 0;
}

@media (max-width: 1140px) {
	.main__content { 
		margin: 158px 0 0 0;
	}
	
}
//-----------------------END Main------------------

